.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

.navbar {
    display: flex;
    gap:20px;
    margin:0;
    padding:0;
}

li {
    list-style: none;
}



.hero {
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;         
}